/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* App Container */
.App {
  text-align: center;
  background-color: #f4f7fa;
  min-height: 100vh;
  padding-top: 80px; /* Adjust for the fixed navbar */
  /* margin-top: 800px; Adjust for the fixed navbar */
}

/* Certificate Container */
.certificate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Page Content Wrapping */
.page-content {
  padding: 40px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Smooth Transition */
a,
button {
  transition: all 0.3s ease;
}

/* Media Queries for Responsive Layout */
@media (max-width: 768px) {
  .App {
    padding-top: 60px; /* Adjust for smaller navbar on mobile */
  }

  .page-content {
    padding: 20px;
  }
}
